{% extends 'base.html' %}

{%block content %}
<h1>Checkout</h1>
<br>
    <div>

        <div>
        <button class="btn btn-outline-success" type="button" >BUY</button>
        <button class="btn btn-outline-danger" type="button" >remove</button>
        <button class="btn btn-outline-secondary" type="button" >+ TO WISHLIST</button>
        </div>
        </div>
    </div>
<br>
<h3>hope you like it!</h3>
<ol>
    <li>feedback prompt</li>
    <li>socials</li>
</ol>
{% endblock %}