{% extends 'base.html' %}

{%block content %}
<h1>CONTACT to Obsidian city</h1>
<br>
<h3> Top contact methods!</h3>
<div>
    <div>
    <a href="https://www.instagram.com/niggotiate__/">Dm me</a>
    </div>
    <br>
    <div>
    <a href="https://www.twitter.com/chalkedge/">Stalk me</a>
    </div>
    <br>
    <div>
    <form action="/action_page.php">
        <label for="contact">leave your email below</label>
    <br>
        <input type="text" id="contact" name="contact" value="">
        <button class="button"><a href="https://www.linkedin.com/in/peter-nwabuokei-aa4873154/">Let's catch up</a></button>
    </form>
    </div>
</div>
{% endblock %}