{% extends 'base.html' %}

{% block content %}
<h1>CUSTOMER CARE</h1>
<br>
<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet cursus sit amet dictum sit amet justo. Nisl rhoncus mattis rhoncus urna. Quis enim lobortis scelerisque fermentum dui faucibus in ornare quam. <br> on blandit massa enim nec dui nunc mattis enim. Massa id neque aliquam vestibulum morbi blandit cursus risus at. Libero nunc consequat interdum varius sit amet. Nulla facilisi etiam dignissim diam quis enim lobortis. In vitae turpis massa sed. Libero enim sed faucibus turpis in. Massa sapien faucibus et molestie ac feugiat sed. Orci phasellus egestas tellus rutrum tellus pellentesque eu. Amet justo donec enim diam.</h2>
{% endblock %}