{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Obsidian city</h1>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static\images\cd_mistybag.JPG" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="static\images\cd_rubyredbag.JPG" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="static\images\cd_limon.JPG" class="d-block w-100" alt="...">
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<div>
<a>"Whats NEW!"</a>

</div>
<br>
<div>
    <div class="card" style="width: 18rem;">
        <img src="static\images\cd_beetlebag.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <button class="btn-outline-success" href="templates/item.html">Beetlebag</button>
        <a>£77</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="static\images\cd_mistybag.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <button class="btn-outline-success" href="templates/item.html">Misty</button>
        <a>£77</a>
        </div>
    </div>
    <div class="basket-input" style="width: 18rem;">
        <img src="static\images\cd_limon.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <button class="card-text" href="item.html">Limon</button>
        <a>£77</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="static\images\cd_rubyredbag.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <button class="card-text" href="item.html">OJ Ruby</button>
        <a>£77</a>
        </div>
    </div>
    <div class="basket-input" style="width: 18rem;">
        <img src="static\images\cd_campari.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <button class="card-text" href="item.html">Campari</button>
        <a>£77</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="static\images\cd_orangebag.JPG" class="card-img-top" alt="...">
        <div class="card-body">
        <button class="card-text" href="item.html">Orange</button>
        <a>£77</a>
        </div>


</div>
{% endblock %}