{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Obsidian city</h1>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static\images\cd_mistybag.JPG" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="static\images\cd_rubyredbag.JPG" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="static\images\cd_limon.JPG" class="d-block w-100" alt="...">
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<div>
<a>"Whats NEW!"</a>

</div>
<br>
<div class='container'>
    <div class='row'>
        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_beetlebag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Beetlebag</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_campari.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Campari</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_limon.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Limon</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>


        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_mistybag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Misty</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_orangebag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">OrANGE</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_rubyredbag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">RUBY JAY</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-outline-primary">Add to Cart</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="uk-overflow-auto container" style = 'width: 70%'>
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
        <thead>
            <tr>
                <th class="uk-table-shrink"></th>
                <th class="uk-table-small sty"><h3>ITEM</h3></th>
                <th class="uk-table-small"></th>
                <th class="uk-width-small sty"><h3>PRICE</h3></th>
                <th class="uk-table-shrink uk-text-small sty"><h3>QUANTITY</h3></th>
                <th class="uk-table-shrink uk-text-small sty"><h3>TOTAL</h3></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="uk-checkbox" type="checkbox"></td>
                <td><img class="uk-preserve-width uk-border-circle" src="${itemImage}" width="40" alt=""></td>
                <td class="uk-table-link">
                    <h3 class = "item-name">${item-name}</h3>
                </td>
                <td class="uk-text-truncate item-price"><h3>item price</h3></td>
                <td><input type = 'number' class = 'num' value = '1'></td>
                <td class="uk-text-truncate total-price"><h3>£</h3></td>
                <td><button class="uk-button uk-button-danger" type="button">Remove</button></td>
            </tr>

        </tbody>
        <tr>
            <td><input class="uk-checkbox" type="checkbox"></td>
            <td><img class="uk-preserve-width uk-border-circle"  width="40" alt=""></td>
            <td class="uk-table-link">
                <h3 class = "item-name"><strong>Grand-Total</strong></h3>
            </td>
            <td class="uk-text-truncate"><h3></h3></td>
            <td class="uk-text-truncate"><h3></h3></td>
            <td class="uk-text-truncate grand-total"><h3><strong>$0</strong></h3></td>
        </tr>
    </table>
</div>
{% endblock %}