{% extends 'base.html' %}

{% block content %}
<h1>SERIES ONE</h1>

<div class='container'>
    <div class='row'>
        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_beetlebag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Beetlebag</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_campari.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Campari</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_limon.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Limon</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>


        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_mistybag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Misty</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_orangebag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">OrANGE</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

        <div class='col-md-4 col-lg-4'>
            <div class="card" style="width: 18rem;">
                <img src="static/images/cd_rubyredbag.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">RUBY JAY</h3>
                    <h4 class="card-text">£77</h4>
                    <a class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}